COMPOSE_PROJECT_NAME=chuanjing
WEB_PORT=80
DATABASE_PASSWORD=BGLd3^ech0Wa
BAGCLI_PROJECTS_PATH=/Users/dongxuwang/Workspaces/bagcli
BAGCLI_PROJECT_NAME=projects/transpaas
BAGCLI_DUMP_BACKUP=*.sql

MINIO_ACCESS_KEY=AKIAIQBKJJOX75WCGQJQ
MINIO_SECRET_KEY=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

DOCKER_REGISTRY=nexus.sutpc.cc:9091

DS_PG_HOST=10.10.201.28
DS_PG_PORT=5432
DS_PG_NAME=postgres
DS_PG_USER=postgres
DS_PG_PASS=123456

DS_HM_ROOT=jdbc:mariadb://10.10.201.7:3306/metastore
DS_HM_USER=root
DS_HM_PASS=root

DS_H1_OPEN=false
DS_H1_ROOT=jdbc:hive2://10.10.201.8:10006/transpass_tag;AuthMech=0;transportMode=binary

DS_H2_OPEN=false
DS_H2_ROOT=jdbc:hive2://10.10.201.8:10006/transpass_std;AuthMech=0;transportMode=binary

DS_H3_OPEN=false
DS_H3_ROOT=jdbc:hive2://10.10.201.8:10006/transpaas_std_dev;AuthMech=0;transportMode=binary
