<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sutpc.data.rev.expressway.microwave.rta.mapper.TManagerMapper">
  <resultMap id="BaseResultMap" type="com.sutpc.data.rev.expressway.microwave.rta.entity.TManager">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="LOGIN_TIME" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="LOGIN_IP" jdbcType="VARCHAR" property="loginIp" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="NICK_NAME" jdbcType="VARCHAR" property="nickName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="TYPE" jdbcType="BIGINT" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CREATE_TIME, LOGIN_TIME, LOGIN_IP, MODIFY_TIME, NAME, NICK_NAME, PASSWORD, TYPE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_manager
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from HIGHWAY.T_MANAGER
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_manager
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sutpc.data.rev.expressway.microwave.rta.entity.TManager">
    insert into t_manager (ID, CREATE_TIME, LOGIN_TIME, 
      LOGIN_IP, MODIFY_TIME, NAME,
      NICK_NAME, PASSWORD, TYPE
      )
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{loginTime,jdbcType=TIMESTAMP}, 
      #{loginIp,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR},
      #{nickName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{type,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sutpc.data.rev.expressway.microwave.rta.entity.TManager">
    insert into t_manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="loginTime != null">
        LOGIN_TIME,
      </if>
      <if test="loginIp != null">
        LOGIN_IP,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="nickName != null">
        NICK_NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="type != null">
        TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null">
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sutpc.data.rev.expressway.microwave.rta.entity.TManager">
    update t_manager
    <set>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginTime != null">
        LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null">
        LOGIN_IP = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        NICK_NAME = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sutpc.data.rev.expressway.microwave.rta.entity.TManager">
    update t_manager
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP},
      LOGIN_IP = #{loginIp,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      NAME = #{name,jdbcType=VARCHAR},
      NICK_NAME = #{nickName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>